<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="main-container">
<div class="first">
        <button class="logout-btn" (click)="onLogOut()">
            <i class="fas fa-door-open"></i>
            <span>Log out</span>
        </button>
</div>
    <div class="feature-grid">
        <button class="feature-btn" (click)="onBusTracking()">
            <i class="fas fa-bus"></i>
            <span>Bus Tracking</span>
        </button>

        <button class="feature-btn" (click)="onLineInfos()">
            <i class="fas fa-route"></i>
            <span>Line Infos</span>
        </button>

        <button class="feature-btn" (click)="onReclamation()">
            <i class="fas fa-comment-dots"></i>
            <span>Reclamation</span>
        </button>
    </div>
</div>