<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container" appClickOutside  (clickOutside)="unCheck()">
    <!-- Sidebar -->
    <nav class="sidebar">
    <button class="feature-btn" [class.active]="showList" (click)="onListTrackings()" >
        <i class="fa fa-list"></i>
        <span>Tracking</span>
    </button>
    <button class="feature-btn" [class.active]="showForm" (click)="onAddTracking()">
        <i class="fas fa-plus-circle"></i>
        <span>Add Tracking Info</span>
    </button>
    <button class="feature-btn"  (click)="onReturn()">
        <i class="fa fa-arrow-left"></i>
        <span>Welcome Page</span>
    </button>
</nav>

    <!-- Contenu Principal -->
    <div class="main-content">
        <!-- Arrière-plan -->
        <div class="network-background"></div>

        <!-- Composants conditionnels -->
        <app-list-trackings *ngIf="showList"></app-list-trackings>
        <app-add-tracking *ngIf="showForm"></app-add-tracking>
    </div>
</div>