<div class="container mt-4">
    <h2>Reclamations Management</h2>

    <div class="card mt-4">
        <div class="card-header">
            <h4>{{'List Of Reclamations'}}</h4>
        </div>
    </div><br>
</div>
<div class="container mt-4">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>cin</th>
                <th>Phone Number</th>
                <th>Ticket Number</th>
                <th>description</th>
                <th>State</th>
                <th>Adding Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reclamation of reclamationList">
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.fullName }}</td>
                <td>{{ reclamation.cin }}</td>
                <td>{{ reclamation.phoneNumber }}</td>
                <td>{{ reclamation.ticketNumber }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.state }}</td>
                <td>{{ reclamation.date | date:'short' }}</td>
                <!--
                <td>
                    <button class="btn btn-warning btn-sm me-2" (click)="editBus(bus)">✏️</button>
                </td>-->
            </tr>
        </tbody>
    </table>
    
    
</div>