<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container" appClickOutside  (clickOutside)="unCheck()">
    <!-- Sidebar -->
    <nav class="sidebar">
        <button class="feature-btn" [class.active]="showList" (click)="onListInfo()">
            <i class="fa fa-list"></i>
            <span>List of Lines</span>
        </button>
        <button class="feature-btn" [class.active]="showForm" (click)="onAddLineInfo()">
            <i class="fas fa-plus-circle me-2"></i>
            <span>Add Line Info</span> 
        </button>
        <button class="feature-btn"  (click)="onReturn()">
        <i class="fa fa-arrow-left"></i>
        <span>Welcome Page</span>
    </button>
    </nav>

    <!-- Contenu Principal -->
    <div class="main-content">
        <!-- Arrière-plan -->
        <div class="network-background"></div>

        <!-- Composants conditionnels -->
        <app-list-lines *ngIf="showList"></app-list-lines>
        <app-add-infos *ngIf="showForm"></app-add-infos>
    </div>
</div>